<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>About</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/style.css">

	</head>
	<body>
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="Main.html" id="branding">
						<img src="../static/images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">MyChannel</h1>
							<small class="site-description">Get your Favourite Movies and Shows in HD ....</small>
						</div>
					</a>

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="Main.html">Home</a></li>
							<li class="menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="review.html">Movie reviews</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
							<li class="menu-item"><a href="Logout.html">Logout</a></li>
						</ul>

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="Main.html">Home</a>
							<span>About us</span>
						</div>

						<div class="row">
							<div class="col-md-4">
								<figure><img src="../static/dummy/figure.jpg" alt="figure image"></figure>
							</div>
							<div class="col-md-8">
								<p class="leading">Our Team</p>
								<p>Vibhor Chinda : 18BIT0284<br>
								   Madhav Rajesh : 18BIT0325</p></div>
						</div>

						<div class="row">
							<div class="col-md-9">
								<h2 class="section-title">Vision &amp; Misssion</h2>
								<p>Why Did we create this Website?</p></div>
							<div class="col-md-3">
								<h2 class="section-title">Useful Links</h2>

									<ul class="arrow">
										<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
										<li class="menu-item"><a href="about.html">About</a></li>
										<li class="menu-item"><a href="review.html">Movie reviews</a></li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="menu-item"><a href="Login.html">Login/Signup</a></li>
									</ul>
							</div>
						</div>

						<h2 class="section-title">Our Team</h2>
						<div class="row">


							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="../static/dummy/person-2.jpg" alt=""></figure>
									<h2 class="team-name">John Doe</h2>
									<small class="team-title">Managing Director</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="../static/dummy/person-3.jpg" alt=""></figure>
									<h2 class="team-name">Jessica Branson</h2>
									<small class="team-title">Reviewer</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Team : Vibhor Chinda and Madhav Rajesh</p>
						</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div>

				</div>

			</footer>
		</div>



		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/plugins.js"></script>
		<script src="../static/js/app.js"></script>

	</body>

</html>
