<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Thank You</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/style.css">

	</head>
	<body>
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="Main.html" id="branding">
						<img src="../static/images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">MyChannel</h1>
							<small class="site-description">Get your Favourite Movies and Shows in HD ....</small>
						</div>
						<br><br>
					</a>

					<div class="main-navigation">

					<br><br><br>
					<p><center>LOGGED OUT SUCCESSFULLY<br><br>
					LIKED THE CONTENT ? LOG IN  <a href="register/index.html">HERE</a></center></p>

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<center> THANK YOU  </center>
					</div>
				</div>
			</footer>
		</div>
		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/plugins.js"></script>
		<script src="../static/js/app.js"></script>

	</body>

</html>
