<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Movie Review</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="Main.html" id="branding">
						<img src="../static/images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">MyChannel</h1>
							<small class="site-description">Get your Favourite Movies and Shows in HD ....</small>
						</div>
					</a>

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="Main.html">Home</a></li>
							<li class="menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="review.html">Movie reviews</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
							<li class="menu-item"><a href="Logout.html">Logout</a></li>
						</ul>

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>
					<div class="mobile-navigation"></div>
				</div>
			</header>

			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="row">

	
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
										<li><a href="#"><img src="../static/dummy/slide-1.jpg" alt="Slide 1"></a></li>
										<li><a href="#"><img src="../static/dummy/slide-2.jpg" alt="Slide 2"></a></li>
										<li><a href="#"><img src="../static/dummy/slide-3.jpg" alt="Slide 3"></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><img src="../static/dummy/thumb-1.jpg" alt="Movie 1"></a>
										</div>
									</div>
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><img src="../static/dummy/thumb-2.jpg" alt="Movie 2"></a>
										</div>
									</div>
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><img src="../static/dummy/thumb-9.jpg" alt="Movie 2"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="single.html"><img src="../static/dummy/thumb-3.jpg" alt="Movie 3"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="../static/dummy/thumb-4.jpg" alt="Movie 4"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="../static/dummy/thumb-5.jpg" alt="Movie 5"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="../static/dummy/thumb-6.jpg" alt="Movie 6"></a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">November premiere</h2>
								<p>Upcoming Shows and Movies</p>
								<ul class="movie-schedule">
									<li>

										<h2 class="entry-title"><a href="#">Laal Kaptaan</a></h2>
									</li>
									<li>
										<h2 class="entry-title"><a href="#">Terminator : Dark Fate</a></h2>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">December premiere</h2>
								<p>List to be updated Soon</p>

							</div>
							<div class="col-md-4">
								<h2 class="section-title">January premiere</h2>
								<p>List to be updated Soon</p>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Team : Vibhor Chinda and Madhav Rajesh</p>
							</div>
						</div>

						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>



		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/plugins.js"></script>
		<script src="../static/js/app.js"></script>

	</body>

</html>
