<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>Movie Review | Maleficient</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/style.css">
		<link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
	  <script type="text/javascript" id="hcb">  if(!window.hcb_user){hcb_user={};}
	  (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"),
	  h="https://www.htmlcommentbox.com";
	  s.setAttribute("type","text/javascript");
	  s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10&ts=1570786402137");
	  if (typeof s!="undefined")
	  document.getElementsByTagName("head")[0].appendChild(s);})(); </script>
<style>@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } </style>
	</head>


	<body>


		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">
						<img src="../static/images/logo.png" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">MyChannel</h1>
							<small class="site-description">Get your Favourite Movies and Shows in HD ....</small>
						</div>
					</a>

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="Main.html">Home</a></li>
							<li class="menu-item"><a href="about.html">About</a></li>
							<li class="menu-item"><a href="review.html">Movie reviews</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
							<li class="menu-item"><a href="Login.html">Login/Signup</a></li>
						</ul>

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>n><i class="fa fa-search"></i></button>
						</form>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="Main.html">Home</a>
							<a href="review.html">Movie Review</a>
							<span>Maleficient</span>
						</div>

						<div class="content">
							<div class="row">
								<div class="col-md-6">
								<center>	<figure class="movie-poster"><img src="../static/dummy/thumb-3.jpg" alt="#"></figure>  </center>
								</div>
								<div class="col-md-6">
									<h2 class="movie-title">Maleficient</h2>
									<div class="movie-summary">
										<p><strong>A vengeful fairy is driven to curse an infant princess, only to discover that the child may be the one person who can restore peace to their troubled land.</strong> </p>
									</div>
									<ul class="movie-meta">
										<li><strong>Rate It:</strong></li><fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Good"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Okay"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Time Pass"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda Bad "></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Bad"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Worst"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks "></label>
</fieldset>
										<li><strong>Length:</strong> 98 min</li>
										<li><strong>Premiere:</strong> 28 May 2014 (USA)</li>
										<li><strong>Category:</strong>  Action | Adventure | Family | Fantasy | Romance</li>
									</ul>

									<ul class="starring">
										<li><strong>Directors:</strong>Robert Stromberg</li>
										<li><strong>Writers:</strong> Linda Woolverton (screenplay by), Charles Perrault (based on "La Belle au bois dormant" written by)</li>
										<li><strong>Stars:</strong> Angelina Jolie, Elle Fanning, Sharlto Copley </li>
									</ul>
								</div>
							</div> <!-- .row -->
							<div class="entry-content">
								Long ago, two rival kingdoms sat side by side: The human kingdom, ruled by a power-hungry king, and the Moors, a peaceful place inhabited by many gentle supernatural creatures. One resident of the Moors is Maleficent (Isobelle Molloy), a young fairy girl with enormous wings, who acts as a guardian for the other magical beings.
	<br><br>
	Young Maleficent is alerted by three small fairies, Knotgrass (Imelda Staunton), Flittle (Lesley Manville),and Thistlewit (Juno Temple), that a thief has been apprehended by the forest guards at the borderline of the Moors. The thief, a human boy called Stefan, returns the jewel he had taken and explains that he is an orphan with no real home. Maleficent forgives him and the two strike up a friendship that lasts for several years. On Maleficent's sixteenth birthday, Stefan gives her "true love's kiss," but then abandons her to pursue his thirst for power in the King's inner circle.
	<br><br>
	When Maleficent is grown (now Angelina Jolie), she is the primary guardian of the Moors. King Henry (Kenneth Cranham) leads his army to conquer the Moors for the human world, but Maleficent victoriously counter-attacks with her band of magical creatures. King Henry is mortally wounded in the battle, and makes known his hatred for the winged woman who defends the Moors. Having only a daughter for an heir, King Henry promises her hand and the throne to whichever of his men brings proof of Maleficent's death. Stefan (now Sharlto Copley), despite his relationship with Maleficent, takes on the task in hopes of becoming the new king.</div>
						</div>
					</div>
					<br><br>
					<hr>
 <div id="HCB_comment_box">
				</div>
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Us</h3>
								<p>Team : Vibhor Chinda and Madhav Rajesh</p>
							</div>
						</div>

						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>



		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<script src="../static/js/plugins.js"></script>
		<script src="../static/js/app.js"></script>

	</body>

</html>
